//--------------- COLORS -----------------
$color-text-primary: #4d4d4d;
$color-text-light: #414141;
$color-text-contrast: white;
$color-primary: #00ad9f;
$color-primary-hover: #00c2b2;
$color-secondary: blue;
$color-danger: #fb6d77;
$color-danger-hover: #fa3d4a;

//--------------- SIZES ------------------
$font-size-large: 34px;
$font-size-medium: 20px;
$font-size-small: 16px;

$content-width-max: 900px;
$spacing-unit: 5px;
