//--------------- COLORS -----------------
$color-text-primary-dark: #000;
$color-text-primary-light: #4d4d4d;
$color-text-light: #414141;
$color-text-contrast: white;
$color-primary: #00bbb0;
$color-secondary: blue;
$border-color: #c6c7cd;

//--------------- SIZES ------------------
$font-size-large: 34px;
$font-size-medium: 20px;
$font-size-small: 16px;

$content-width-max: 900px;
$spacing-unit: 5px;
