@import '../shared.scss';

.page-home-tab-bar {
  width: fit-content;
}
.page-home-content {
  max-width: $content-width-max;
  margin: 0 auto;
}

@media (max-width: 940px) {
  .page-home-content {
    display: inline-grid;
    grid-template-columns: 1fr;
  }
}
