@import '../shared.scss';

.page-home {
  
}


.cohort-card {
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  text-align: left;
  // justify-content: flex-start;
  // background: blue;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 400px;
  // height: 160px;
  padding: calc(4 * #{$spacing-unit});

  & > * {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // justify-self: left;
    margin: calc(#{$spacing-unit}) 0;
    &:first-child {
      align-items: flex-start;
      margin-top: 0;
    }
    &:last-child {
      align-items: flex-end;
      align-self: flex-end;
      // background: yellow;
      margin-bottom: 0;
      margin-top: 20px;
    }
  }
  // &:last-child {
  //   align-items: flex-start;
  // }
}

.cohort-card-people-icon {
  position: relative;
  top: -3px;
}

.cohort-card-headline {
  width: 75%;
  margin-top: -4px;
  height: 80px;
}

.special {
  display: flex;
  align-items: flex-start;
  & > * {
    margin-left: 5px;
  }
}
