@import '../shared.scss';

.page-home {
  // background-color: blue;
}

.page-home-tab-bar {
  // width: 30px;
  // display: inline;
  width: fit-content;
}
.page-home-content {
  max-width: $content-width-max;
  margin: 0 auto;

  display: grid;
  grid-column-gap: $spacing-unit;
  grid-row-gap: calc(2 * #{$spacing-unit});
  grid-template-columns: 1fr 1fr;
}

.cohort-card {
  border: 1px solid $border-color;
  border-radius: 10px;
  text-align: left;
  // justify-content: flex-start;
  // background: blue;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 400px;
  // height: 160px;
  padding: calc(4 * #{$spacing-unit});

  & > * {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // justify-self: left;
    margin: calc(#{$spacing-unit}) 0;
    &:first-child {
      align-items: flex-start;
      margin-top: 0;
    }
    &:last-child {
      align-items: flex-end;
      align-self: flex-end;
      // background: yellow;
      margin-bottom: 0;
      margin-top: 20px;
    }
  }
  // &:last-child {
  //   align-items: flex-start;
  // }
}

.cohort-card-icon-people {
  position: relative;
  top: -2px;
}

.cohort-card-headline {
  width: 75%;
  margin-top: -4px;
  height: 80px;
}

.cohort-card-icon-btn {
  margin: 0;
  padding: 0;
}

.special {
  display: flex;
  align-items: flex-start;
  & > * {
    margin-left: 5px;
  }
}

.cohort-card-btn-text {
  display: flex;
  align-items: center;
  color: $color-text-contrast;
}

.cohort-card-btn-arrow {
  margin-left: 10px;
  position: relative;
  left: 4px;
}

@media (max-width: 940px) {
  .page-home-content {
    display: inline-grid;
    grid-template-columns: 1fr;
  }
}
