{% extends "base/base.html" %}

{% block content %}
    {#    Add student page content here    #}
{% endblock %}

{% block breadcrumb %}
    <li><h3 class="text-primary" style="margin: 4px;"> / </h3></li>
    <li><a href={{ url_for("load_class", class_id=class_id) }}><h3 class="text-primary">{{ class_info.name }}</h3></a></li>
{% endblock %}

{% block buttons %}
    <button type="button" class="btn btn-outline-secondary btn-rounded waves-effect" style="color:#4285f4!important" data-toggle="modal" data-target="#myModal">
        &#9432
    </button>

    <script>
        $(".progress-bar").animate({
            width: "70%"
        }, 2500);

    </script>
{% endblock %}



{% block modal_info %}

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" style="padding-right: 10%; padding-left: 10%;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title" style="color: white">{{ class_info.name }}</h2>
                </div>
                <div class="modal-body">
                    <h6 style="color: whitesmoke">Invite Code: {{ class_info.inv_code }}</h6>
                    <h6 style="color: whitesmoke">Number of students: {{ class_info.cur_students }}</h6>
                    <h6 style="color: whitesmoke">Max students: {{ class_info.max_students }}</h6>
                    <br/>
                    <h6 style="color: whitesmoke">Language: {{ class_info.language_name }}</h6>
                    <h6 style="color: whitesmoke">Min level: {{ class_info.declared_level_min}}</h6>
                    <h6 style="color: whitesmoke">Max level: {{ class_info.declared_level_max}}</h6>

                </div>
                <div class="modal-footer">
                    <form action="{{ '/class/' + class_info.id }}/" method="POST">
                        {% if class_info.cur_students == 0 %}
                            <a href={{ url_for('remove_class_route', class_id=class_info.id) }}>
                            <button type="button" class="btn btn-default bg-danger" style="border-color: #455a64">Delete
                                Class
                            </button>
                            </a>
                        {% endif %}
                        <a href={{ url_for('edit_class', class_id= class_info.id) }}>
                            <button type="button" class="btn btn-default bg-primary" style="border-color: #455a64">
                                Edit
                            </button>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
