{% extends "base/base.html" %}

{% block content %}
    {#    Add student page content here    #}
{% endblock %}

{% block breadcrumb %}
    <li><h3 class="text-primary" style="margin: 4px;"> / </h3></li>
    <li><a href="{{ url_for ('load_class', class_id=class_id) }}"><h3 class="text-primary">{{ class_name }}</h3></a></li>
    <li><h3 class="text-primary" style="margin: 4px;"> / </h3></li>
    <li><a href="{{ url_for('student_page', class_id=class_id, student_id=student_id) }}"><h3 class="text-primary">{{ info.name }}</h3></a></li>

{% endblock %}

{% block buttons %}
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn btn btn-outline-secondary btn-rounded waves-effect">
            <span class="glyphicon glyphicon-filter"></span> {{ time }}
        </button>
        <div id="myDropdown" class="dropdown-content">
            <a onclick="saveCookie('7')">1 Week</a>
            <a onclick="saveCookie('14')">2 Weeks</a>
            <a onclick="saveCookie('30')">1 Month</a>
            <a onclick="saveCookie('180')">6 Months</a>
            <a onclick="saveCookie('365')">1 Year</a>
        </div>
    </div>

    <script>
        /* Saves the cookie */
        function saveCookie(time) {
            document.cookie = "time = " + time + ";path=/";
            location.reload();
        }

        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
{% endblock %}
