{% extends "base/classpage_base.html" %}

{% block content %}

    {% block modal_info %}
        {{ super() }}
    {% endblock %}



    <div class="card"
         style="border-radius: 10px; width: 80%; margin: 0 auto; float: none; margin-bottom: 10px; overflow: scroll">

        {% for msg in messages %}
            <div class="alert alert-info" role="alert"
                 style="border-radius: 10px; width: 80%; margin: 0 auto; float: none; margin-bottom: 16px">
                {{ msg }}
            </div>
        {% endfor %}

    
        <div class="card-title" style="text-align: center;"
             data-target="#heatmapModal">Summary for the last...&nbsp;


            <div class="dropdown">

                <button onclick="myFunction()" class="dropbtn btn btn-outline-secondary btn-rounded waves-effect">
                    <span class="glyphicon glyphicon-filter"></span> {{ display_time_interval }}
                </button>
                <div id="myDropdown" class="dropdown-content">
                    <a onclick="saveCookie('7')">1 Week</a>
                    <a onclick="saveCookie('14')">2 Weeks</a>
                    <a onclick="saveCookie('30')">1 Month</a>
                    <a onclick="saveCookie('180')">6 Months</a>
                    <a onclick="saveCookie('365')">1 Year</a>
                </div>
            </div>

        </div>

        <hr/>

        <script>
            /* Saves the cookie */
            function saveCookie(time) {
                document.cookie = "time = " + time + ";path=/";
                location.reload();
            }

            /* When the user clicks on the button,
            toggle between hiding and showing the dropdown content */
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function (event) {
                if (!event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }
        </script>


        <br/>
        <div style="text-align: right">
            <input id="ai" type="search" class="light-table-filter" data-table="order-table"
                   placeholder="Filter by name..."
            >
        </div>


        <br/>


        <div class="table-responsive m-t-40" style="min-height: 800px;">


            <br>
            <table class="order-table table display nowrap table table-hover sortable" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="sorttable_alpha">Name</th>

                    <th class="sorttable_numeric">Time</th>

                    <th class="sorttable_nosort">
                        Activity Distribution (
                        <small>
                            <span style="color:#ccbbee">Reading </span> /
                            <span style="color:#a0d0e0">Exercises</span>
                        </small>
                        )
                    </th>

                    <th class="sorttable_nosort">

                    </th>


                </tr>
                </thead>

                <tbody>
                {% for student in students %}
                    <tr>
                        <td width="25%" sorttable_customkey={{ student.name }}>
                            <h5><a href={{ url_for('student_page', class_id=class_id, student_id=student.id) }}>
                                <div class="text-inverse">{{ student.name }}</div>
                            </a></h5>
                        </td>

                        <td width="25%" sorttable_customkey={{ student.exercises_done + student.reading_time }}>
                            <div class="text-accent-4" style="margin-bottom: 1%; margin-top: 2%">
                                {{ ((student.exercises_done + student.reading_time)/3600)|int }} h
                                {{ (((student.exercises_done + student.reading_time)/60)%60)|int }} m
                            </div>
                        </td>


                        {% if not (student.exercises_done + student.reading_time) == 0 %}
                            <td width="50%"
                            >
                                <div class="progress"
                                     style="height: 20px; margin-bottom: 3%; margin-top: 2%; width:{{ student.normalized_activity_proportion }}%">
                                    <div class="progress-bar wow animated progress-animated"
                                         role="progressbar"
                                         style="width: {{ student.learning_proportion|round|int }}%; background-color:#ddccff">

                                    </div>
                                    <div class="progress-bar wow animated progress-animated"
                                         role="progressbar"
                                         style="width: {{ 100-(student.learning_proportion|round|int) }}%; background-color: #bbeeff">
                                    </div>

                                </div>
                            </td>
                        {% else %}
                            <td width="50%"></td>
                        {% endif %}


                        <td>

                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="{{ url_for('static', filename='js/lib/jquery/jquery.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/lib/jquery/sorttable.js') }}"></script>

{% endblock %}

{% block buttons %}


    <script>
        $(".progress-bar").animate({
            width: "70%"
        }, 2500);
    </script>

    <script>
        var LightTableFilter = (function (Arr) {

            var _input;

            function _onInputEvent(e) {
                _input = e.target;
                var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
                Arr.forEach.call(tables, function (table) {
                    Arr.forEach.call(table.tBodies, function (tbody) {
                        Arr.forEach.call(tbody.rows, _filter);
                    });
                });
            }

            function _filter(row) {
                var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
                row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
            }

            return {
                init: function () {
                    var inputs = document.getElementsByClassName('light-table-filter');
                    Arr.forEach.call(inputs, function (input) {
                        input.oninput = _onInputEvent;
                    });
                }
            };
        })(Array.prototype);

        document.addEventListener('readystatechange', function () {
            if (document.readyState === 'complete') {
                LightTableFilter.init();
            }
        });

    </script>

    <button type="button" class="btn btn-outline-secondary btn-rounded waves-effect" style="color:#4285f4!important"
            data-toggle="modal" data-target="#myModal">
        &#9432
    </button>

{% endblock %}
