{% extends "base/base.html" %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/slider.css') }}">
    <div class="col-lg-4"></div>

    <div class="row justify-content-center" style="border-radius: 10px">
        <div class="col-lg-4">
            <div class="login-content card">
                <div class="login-form">
                    <h2>Create classroom</h2>
                    <br>
                    <form action="" method="post" role="form">
                        {{ form.csrf }}
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <div class="form-group">
                                <label>Classroom Name:</label>
                                {{ form.name(class_="form-control") }}
                                {% for error in form.name.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                <label>Learned Language:</label>
                                <select class="form-control" class="form-control" id="class_language_id"
                                        name="class_language_id">
                                    <option value="nl">Dutch</option>
                                    <option value="en">English</option>
                                    <option value="de">German</option>
                                    <option value="es">Spanish</option>
                                    <option value="fr">French</option>
                                </select>
                            </div>


                            <div class="form-group">
                                <label>Minimum Reading Level</label>
                                {{ form.declared_level_min }}
                            </div>

                            <div class="form-group">
                                <label>Maximum Reading Level</label>
                                {{ form.declared_level_max }}
                            </div>


                            <label>Expected Number of Students:</label> <span id="demo"></span>
                            <div class="form-group">
                                <input type="range" min="1" max="50" value="15" class="slider" id="max_students"
                                       name="max_students">
                            </div>

                            <div class="form-group">
                                <label>Invitation Code:</label>
                                <input type="text" class="form-control" id="inv_code" name="inv_code"
                                       placeholder="Invitation Code">
                                {% for error in form.inv_code.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>


                        </div>
                        <button type="submit" class="btn btn-primary" style="background: #4680ff">Submit</button>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <script>
        var slider = document.getElementById("max_students");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
        slider.oninput = function() {
            output.innerHTML = this.value;
        }
    </script>
{% endblock %}


{% block buttons %}

{% endblock %}
