{% extends "base/classpage_base.html" %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/slider.css') }}">

    <div class="col-lg-3"></div>
    <div class="row justify-content-center" style="border-radius: 10px">
        <div class="col-lg-6">
            <div class="login-content card">
                <div class="login-form">

                    <br>
                    <form action="" method="post" role="form">
                        {{ form.csrf }}
                        {{ form.hidden_tag() }}
                        <div class="form-group">

                            <div class="form-group">
                                <label>Class Name:</label>
                                {{ form.name(class_="form-control") }}
                                {% for error in form.name.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}

                            </div>

                            <div class="form-group">
                                <label>Invite Code: </label> <b style="color:dodgerblue">{{ form.inv_code.data }}</b>
                            </div>


                            <div class="form-group">
                                <label>Learned Language: </label> <b style="color:dodgerblue">{{ form.language_name.data }}</b>
                            </div>

                            <div class="form-group">
                                <label>Reading Level</label><br/>

                                <label>-- Minimum: </label>
                                {{ form.declared_level_min }}<br/>

                                <label>-- Maximum: </label>
                                {{ form.declared_level_max }}

                            </div>



                        </div>
                        <button type="submit" class="btn btn-primary" style="background: #4680ff">Submit</button>

                    </form>
                    <br>

                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block buttons %}

{% endblock %}
