{% extends "base/classpage_base.html" %}

{% block content %}

    {% block modal_info %}
        {{ super() }}
    {% endblock %}

    <div class="card" style="border-radius: 10px; width: 80%; margin: 0 auto; float: none; margin-bottom: 10px">
        <h2 style="text-align:center">This class has no students</h2>
        <p style="text-align:center">Students can join this class by using the invite code: <b style="color: dodgerblue">{{ class_info.inv_code }}</b></p>
    </div>

    <script src="{{ url_for('static', filename='js/lib/jquery/jquery.min.js') }}"></script>

{% endblock %}
