{% extends "base/base.html" %}

{% block content %}
    {% for msg in messages %}
        <div class="alert alert-info" role="alert" style="border-radius: 10px; width: 80%; margin: 0 auto; float: none; margin-bottom: 16px">
            {{ msg }}
        </div>
    {% endfor %}
    <div class="row page-titles" style="border-radius: 10px; width: 80%; margin: 0 auto; float: none; margin-bottom: 10px">

        <!-- these are the classes  -->
        {% set color = ['#546e7a', '#4680ff'] %}
        {% for class in classes %}
        <div class="col-md-4">


            <div class="card btn-outline-secondary p-30" style="background:{{ color[loop.index%2] }}">

                <div class="media widget-ten">
                    <div class="card-content white-text">
                        <a href={{url_for('load_class', class_id=class.id)}}><span class="card-title">{{  class.name }}</span></a>
                        <p>Language: {{ class.language_name }}</p>
                        <p>Invite Code: {{ class.inv_code }}</p>
                    </div>

                    <div class="card-action">
                        <a href={{url_for('load_class', class_id=class.id)}}>Go To Class</a>
                    </div>
                </div>
            </div>


        </div>
        {% endfor %}
    </div>

{% endblock %}

{% block buttons %}

<a href={{url_for("create_classroom")}}>
    <button type="button" class="btn btn-outline-secondary btn-rounded waves-effect" style="color:#4285f4!important">+
    </button>
</a>

{% endblock %}
