{% extends "base/student_page_base.html" %}

{% block content %}

    <div class="container-fluid"
         style="border-radius: 10px; width: 800px; margin: 0 auto; float: none; margin-top: 15px">
        <hr/>
        <b>{{ total_articles_count }} Articles in the last {{ time }}.</b>
        <hr/>
        <br/>
    </div>


    {% for each in articles_by_date %}
        <div class="container-fluid"
             style="border-radius: 10px; width: 800px; margin: 0 auto; float: none; margin-top: 15px">
            {{ each.date }}
        </div>


        {% for article in each.article_list %}

            <div class="card"
                 style="border-radius: 10px; width: 800px; margin: 0 auto; float: none; margin-bottom: 10px">
                <a href={{ article.url }}>
                    <h3>{{ article.title or 'unknown title' }}</h3>
                </a>
                <br/>

                <br/>
                {% for sentence in article.sentence_list %}
                    <div style="color:gray">
                        {{ sentence.context }}
                    </div>
                    <div style="margin-left: 32px">
                        {% for bookmark in sentence.bookmarks %}
                            <div class="d-flex w-100 justify-content-between">
                                <h5>
                                    <b>{{ bookmark.from }}</b>
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    {{ bookmark.to }}
                                </h5>
                            </div>
                        {% endfor %}
                    </div>
                    <br/>
                    <br/>



                {% endfor %}
            </div>

        {% endfor %}
        <hr>
    {% endfor %}
{% endblock %}
